# ==================== Server ====================
PORT = 5000
NODE_ENV = development
ALLOWED_ORIGINS = http://localhost:5000, http://localhost:5173

# ==================== Database ====================
DATABASE_URL = mongodb+srv://example_user:example_password@cluster0.llwcx8n.mongodb.net/example-db?appName=Cluster0

# ==================== JWT ====================
JWT_SECRET = your_strong_jwt_secret_here
JWT_EXPIRES_IN = 12h
JWT_REFRESH_SECRET = your_strong_jwt_refresh_secret_here
JWT_REFRESH_EXPIRES_IN = 7d

# ==================== Bcrypt ====================
BCRYPT_SALT_ROUNDS = 10

# ==================== Super Admin ====================
SUPER_ADMIN_EMAIL = your_super_admin_email_here
SUPER_ADMIN_PASSWORD = your_super_admin_password_here

# ==================== Google OAuth ====================
GOOGLE_CLIENT_ID = your_google_client_id_here
GOOGLE_CLIENT_SECRET = your_google_client_secret_here
GOOGLE_CALLBACK_URL = your_google_callback_url_here

# ==================== Express Session ====================
EXPRESS_SESSION_SECRET = your_strong_express_session_secret_here

# ==================== Frontend URL ====================
FRONTEND_URL = http://localhost:5173

# ==================== SSLCommerz ====================
SSL_STORE_ID = your_sslcommerz_store_id_here
SSL_STORE_PASSWORD = your_sslcommerz_store_password_here
SSL_PAYMENT_URL = https://sandbox.sslcommerz.com/gwprocess/v4/api.php
SSL_VALIDATION_URL = https://sandbox.sslcommerz.com/validator/api/validationserverAPI.php

# ==================== SSLCommerz Frontend URLs ====================
SSL_SUCCEEDED_FRONTEND_URL = http://localhost:5173/api/v1/payment/succeeded
SSL_FAILED_FRONTEND_URL = http://localhost:5173/api/v1/payment/failed
SSL_CANCELLED_FRONTEND_URL = http://localhost:5173/api/v1/payment/cancelled

# ==================== SSLCommerz Backend URLs ====================
SSL_SUCCEEDED_BACKEND_URL = http://localhost:5000/api/v1/payment/succeeded
SSL_FAILED_BACKEND_URL = http://localhost:5000/api/v1/payment/failed
SSL_CANCELLED_BACKEND_URL = http://localhost:5000/api/v1/payment/cancelled
